.App {
  text-align: center;
}

.cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
}

.player-div {
  margin: 2%;
  width: 20%;
  border: 5px outset #6495ED;
  border-radius: 10px;
  box-shadow: 7px 10px 10px black;
}

button {
  margin: 1% 0;
  border-radius: 10px;
  width: 10%;
  font-size: 1.5rem;
  font-weight: bold;
}

.dark-off {
  background: #0c130c;
  color: #ffffec;
  box-shadow: 3px 6px 6px black;
}

.dark-on {
  background: #6495ED;
  color: black;
  box-shadow: 3px 6px 6px black;
}

